---
title: Images I made
layout: page
background: '/img/tuktuk.gif'
---
<!-- 
<figure>
  <center>
    <a href="https://www.youtube.com/watch?v=9y_z57JPjco">
        <img src="{{site.url}}/img/market.png" style="width:100%"/>
      </a>
    <figcaption>one frame of a thing</figcaption>
    </center>
</figure>
-->
<p>
This page presents my most recent and big enough projects, you can checkout my lastest or older things on <a href="https://ogjee.artstation.com">artstation</a> or <a href="https://twitter.com/jul_mab">twitter</a>
</p>

 
{% for post in site.posts %}

{% if post.categories contains "creative"%}
<article class="post-preview">

  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ post.title }}</h2>
    <img src="{{ post.thumbnail }}" style="width:100%"/>

    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>

  

  <p class="post-meta">Posted by
    {% if post.author %}
    {{ post.author }}
    {% else %}
    {{ site.author }}
    {% endif %}
    on {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
  </p>
</article>

<hr>

{% endif %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    Newer<span class="d-none d-md-inline"> Posts</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span class="d-none d-md-inline"> Posts</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}
